.time {
    font-weight: 700;
    font-size: 22px;
    line-height: 121.4%;
    text-align: right;
    letter-spacing: 0.05em;
}
.time_block {
    margin-left: 20px;
    text-align: center;
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;

        text-align: center;
    }
}